{{ $data := index site.Data site.Language.Lang }}

{{ if $data.pricing.experience.enable }}
{{ with $data.pricing.experience }}
{{"<!-- Start Pricing section -->" | safeHTML}}
<section id="experiences" class="pricingsection">
  <div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML}}
				<div id="project" class="title text-center wow fadeInDown">
					<h2> {{ i18n "my"}} <span class="color">
						{{ i18n "experiences"}}</span></h2>
					<div class="border-meghna"></div>
				</div>
			</div>
			{{"<!-- /section title -->" | safeHTML}}
      <ul class="experience-chart">
        {{ range .experience_list }}
        {{ if not (eq .enable false) }}
          <li>
            <div class="single-experience">
              <h3>{{ .name | markdownify }}</h3>
              {{ with .company }}
              <span>{{ . | markdownify }} |</span>
              {{ end }} {{ with .duration }}
              <span>{{ . | markdownify }}</span>
              {{ end }} {{ with .content }}
              <p>{{ . | markdownify }}</p>
              {{ end }}
            </div>
          </li>
        {{ end }}
        {{ end }}
      </ul>
    </div>
</section>
{{"<!-- /pricing -->" | safeHTML}}
{{ end }}
{{ end }}
